before_install:
  - sudo apt-get -qq update
  - sudo apt-get install libzmq5
language: rust
rust:
  - nightly
script:
  - cargo build
  - cargo test
  - cargo test -- --ignored
# Benching disabled until local store is fixed.
#  - cargo bench
